@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    height: 100vh;
    width: 100vw;
}

body::-webkit-scrollbar {
  width: 1em;
}

body::-webkit-scrollbar-thumb {
  background-color: #232323;
  outline: 1px solid #323232;
  border-radius: 5em;
}

body::-webkit-scrollbar-track{
  background-color: transparent;
}

.imag{
  width: 300px;
  height: 300px;
  box-shadow: inset 0 0 0 9px rgb(255 255 255 / 30%);
  border: 2px solid #f1cf29;
  order: 1;
  animation: animate 8s ease-in-out infinite 1s;
}

@keyframes animate {
  0%{
      border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  50%{
      border-radius: 30% 60% 70% 40%/50% 60% 30% 40%;
  }
  100%{
      border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}

.thumbnail{
  width: 100%;
  border-radius: 10px;
}

.content {
  cursor: pointer;
  position: relative;
  overflow: hidden;
  text-align: center;
}

.content .faded {
  background-color: rgba(142, 142, 142, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  -webkit-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  opacity: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 10px;
}

.content:hover .faded {
  opacity: 0.8;
}

.content .title {
  font-size: 2.5em;
  opacity: 0;
  transition-delay: 0.2s;
  transition-duration: 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content:hover .title,
.content:focus .title {
  opacity: 1;
  transform: translateY(0px);
  -webkit-transform: translateY(0px);
}

.title .link{
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: -1;
  width: 60px;
  height: 60px;
  transition: all .15s cubic-bezier(.11,.65,1,1.69);
  background-color: #e1e0dc;
  text-decoration: none;
  color: black;
  
}

.title:hover .link {
  transform: scale(1.2);
}

@media screen and (max-width:500px) {
  *{
    width: 100%;
  }
  .hero{
    flex-direction: column-reverse;
    gap: 4em;
    margin-top: 11em;
  }
  .social{
    margin: 0;
    justify-content: space-around;
    display: none;
  }
  .social li{
    margin: 0;
  }
  header{
    width: auto;
  }
  nav{
    width: auto;
    margin-left: 3em;
    display: flex;
    justify-content: center;
    padding: 0;
  }
  section{
    padding: 0;
    width: 100%;
  }
  .heading{
    font-size: 3.4em;
    margin-bottom: 0.5em;
    text-align: center;
    line-height: 0.2em;
  }
  .image{
    display: flex;
    justify-content: center;
    margin-bottom: 0;
  }
  .skill-container{
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-bottom: 10em;
  }
  .heading2{
    font-size: 1.8em;
    margin-top: 3em;
    width: 100%;
    text-align: center;
  }
  .skill{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .about{
    padding: 2em;
    margin-top: 14em;
  }
  .about-container{
    /* display: flex; */
    /* flex-direction: column; */
    padding: 0;
  }
  .about-content{
    display: flex;
    flex-direction: column;
    gap: 2em;
  }
  .about-head,
  .about-sub{
    text-align: center;
  }
  .img-side{
    padding: 0;
  }
  .project,
  .contact{
    padding: 2em;
  }
  .box{
    grid-template-columns: 1fr;
    place-items: center;
  }
}